body {
  font-family: "Ibarra Real Nova", serif;
}

h1 h2 h3 h4 h5 h6 {
  font-weight: bold;
}

.altura-a-b {
  padding: 100px 0;
}

/*Header*/
header .logotipo {
  width: 60px;
  padding: 0px;
}
header .navbar-nav a {
  font-size: 20px;
  text-transform: capitalize;
  margin: 0 10px;
}
header .iconos-redes {
  font-size: 30px;
  color: white;
  margin: 10px 10px;
  transition: all 0.7s;
}
header .iconos-redes:hover {
  color: #ec731e;
  cursor: pointer;
  transform: translateY(-10px);
  transition: all 0.7s;
}

/*Index*/
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: 750px;
}
.carousel-inner .carousel-caption {
  position: absolute;
  top: 25%;
  bottom: 25px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.carousel-inner .carousel-caption h1 {
  color: orange;
  font-size: 60px;
  text-transform: capitalize;
  text-shadow: 0 0 5px white;
}
.carousel-inner .carousel-caption h2 {
  color: orange;
  font-size: 60px;
  text-transform: capitalize;
  text-shadow: 0 0 5px white;
}
.carousel-inner .carousel-caption p {
  font-size: 25px;
  background-color: rgba(255, 165, 0, 0.4);
}
.carousel-inner .carousel-caption .boton-carrusel {
  color: #f8f9fa;
  background-color: rgba(255, 165, 0, 0);
  border-color: #f8f9fa;
  border: 3px solid white;
  border-radius: 20px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 25px;
}

.galery .banner-galeria {
  width: 360px;
  height: auto;
  border: 3px solid orange;
}
.galery .banner-galeria:hover {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
}
.galery h5 {
  text-transform: capitalize;
  font-size: 30px;
  margin: 10px 0;
}
.galery p {
  font-size: 18px;
}
.galery a {
  color: white;
  background-color: orange;
  border: 2px solid black;
  border-radius: 20px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 25px;
}

/*Nosotros*/
.nosotros .cabecera-nosotros {
  padding: 134px 0 240px 0;
  background-image: url(../img/15.jpg);
  background-position: top;
  background-size: cover;
  margin-top: 30px;
}
.nosotros .cabecera-nosotros h1 {
  color: orange;
  font-size: 60px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.356);
  text-shadow: 0 0 5px black;
}
.nosotros .nosotros-menu {
  text-align: center;
}
.nosotros .nosotros-menu h2 {
  background-color: orange;
  color: white;
  font-size: 50px;
  text-transform: capitalize;
  padding: 15px;
  margin-top: 20px;
  text-shadow: 0 0 5px black;
}
.nosotros .nosotros-menu .nombres {
  font-size: 40px;
  text-transform: capitalize;
}
.nosotros .nosotros-menu p {
  font-size: 27px;
  padding: 10px;
  margin-top: 30px;
}
.nosotros .nosotros-menu .imagen-quienes {
  border: 3px solid orange;
  border-radius: 30px;
}

/*Catalogo*/
.catalogo .cabecera-catalogo {
  padding: 134px 0 240px 0;
  background-image: url(../img/16.jpg);
  background-position: top;
  background-size: cover;
  margin-top: 30px;
}
.catalogo .cabecera-catalogo h1 {
  color: orange;
  font-size: 60px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.356);
  text-shadow: 0 0 5px black;
}
.catalogo .titulo-catalogo {
  text-align: center;
  text-transform: capitalize;
  font-size: 50px;
  background-color: rgba(255, 166, 0, 0.7058823529);
  text-shadow: 0 0 5px black;
}
.catalogo .imagen-catalogo {
  border: 3px solid orange;
  margin-top: 20px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}
.catalogo .imagen-catalogo:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 10px black;
}
.catalogo .boton-catalogo {
  text-align: center;
}
.catalogo .boton-catalogo a {
  margin-top: 25px;
  color: white;
  background-color: orange;
  border: 2px solid black;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 22px;
}

/*Galeria*/
.galeria .cabecera-galeria {
  padding: 134px 0 240px 0;
  background-image: url(../img/4.jpg);
  background-position: top;
  background-size: cover;
  margin-top: 30px;
}
.galeria .cabecera-galeria h1 {
  color: orange;
  font-size: 60px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.356);
  text-shadow: 0 0 5px black;
}
.galeria .titulo-galeria {
  text-align: center;
  text-transform: capitalize;
  font-size: 50px;
  background-color: rgba(255, 166, 0, 0.7058823529);
  text-shadow: 0 0 5px black;
}
.galeria .imagen-galeria {
  border: 3px solid orange;
  margin-top: 20px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}
.galeria .imagen-galeria:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 10px black;
}

/*Contacto*/
.informacion .cabecera-contacto {
  padding: 134px 0 240px 0;
  background-image: url(../img/7.jpeg);
  background-position: center;
  background-size: cover;
  margin-top: 30px;
}
.informacion .cabecera-contacto h1 {
  color: orange;
  font-size: 60px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.356);
  text-shadow: 0 0 5px black;
}
.informacion .contacto .form-group {
  font-size: 25px;
}
.informacion .contacto button {
  font-size: 20px;
  margin: 0 15px;
  padding: 10px;
}
.informacion .contacto h2 {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 35px;
  background-color: rgba(255, 166, 0, 0.7058823529);
  padding: 15px;
  margin-bottom: 25px;
  text-shadow: 0 0 5px black;
}
.informacion .ubicacion {
  text-align: center;
  margin-bottom: 100px;
}
.informacion .ubicacion h2 {
  font-size: 40px;
  text-transform: uppercase;
  background-color: rgba(255, 166, 0, 0.7058823529);
  margin-bottom: 25px;
  text-shadow: 0 0 5px black;
}
.informacion .ubicacion p {
  font-size: 30px;
  padding: 30px;
}

/*Inicio de Footer*/
footer {
  background-color: rgba(34, 34, 34, 0.993);
  text-align: center;
  padding: 20px 0;
}
footer .logo-footer {
  width: 300px;
  margin: 0 30px 0px 0;
}
footer .iconos-footer {
  font-size: 60px;
  color: white;
  margin: 30px 20px;
  letter-spacing: 20px;
  transition: all 0.7s;
}
footer .iconos-footer:hover {
  color: #ec731e;
  cursor: pointer;
  transform: translateY(-20px);
  transition: all 0.7s;
}
footer p {
  color: white;
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 0;
}

/*fin de Footer*//*# sourceMappingURL=estilos.css.map */