/*Declarando mi mapa*/
$colores: (
    primero: orange,
    segundo: white,
    tercero: #ec731e,
    cuarto: black,
    quinto: rgba(34, 34, 34, 0.993),
);



/*Agregando Mixins*/
@mixin bordes {
    border: 2px solid black;
    border-radius: 20px;
}





body{
    font-family: 'Ibarra Real Nova', serif;
}

h1 h2 h3 h4 h5 h6{
    font-weight: bold;
}

.altura-a-b{
    padding: 100px 0;
}

/*Header*/
header{
    .logotipo{
        width: 60px;
        padding: 0px;
    }
    
    .navbar-nav a{
        font-size: 20px;
        text-transform: capitalize;
        margin: 0 10px;
    }
    
    .iconos-redes{
        font-size: 30px;
        color: map-get($colores, tercero);
        margin: 10px 10px;
        transition: all 0.7s;
    }
    .iconos-redes:hover{
        color: map-get($colores, segundo);
        cursor: pointer;
        transform: translateY(-10px);
        transition: all 0.7s;
    }
}


/*Index*/
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 750px;

    .carousel-caption {
        position: absolute;
        top: 25%;
        bottom: 25px;
        left: 15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: map-get($colores, segundo);
        text-align: center;
    
        h1{
            color: map-get($colores, primero);
            font-size: 60px;
            text-transform: capitalize;
            text-shadow: 0 0 5px white;
        }
    
        h2{
            color: map-get($colores, primero);
            font-size: 60px;
            text-transform: capitalize;
            text-shadow: 0 0 5px white;
        }
    
        p{
            font-size: 25px;
            background-color: #ffa50066;
        }
    
        .boton-carrusel {
            color: map-get($colores, segundo);
            background-color: #ffa50000;
            border-color: #f8f9fa;
            border: 3px solid white;
            border-radius: 20px;
            padding-left: 25px;
            padding-right: 25px;
            font-size: 25px;
        }
        
    }
}

.galery{
    .banner-galeria{
        width: 360px;
        height: auto;
        border: 3px solid orange;
    }

    .banner-galeria:hover{
        border-radius:50%;
        -webkit-border-radius:50%;
        box-shadow: 0px 0px 15px 15px #ec731e;
        -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
    }

    h5{
        text-transform: capitalize;
        font-size: 30px;
        margin: 10px 0;
    }

    p{
        font-size: 18px;
    }

    a{
        color: map-get($colores, segundo);
        background-color: map-get($colores, primero);
        padding-left: 25px;
        padding-right: 25px;
        font-size: 25px;
        @include bordes;
    }
    a:hover{
        background-color: map-get($colores, cuarto);
        color: map-get($colores, primero);
        border: 2px solid orange;
    }
}


/*Nosotros*/
.nosotros{
    .cabecera-nosotros{
        padding: 134px 0 240px 0;
        background-image: url(../img/15.jpg);
        background-position: top;
        background-size: cover;
        margin-top: 30px;
    
        h1{
            color: map-get($colores, primero);
            font-size: 60px;
            text-transform: uppercase;
            background-color: rgba(255, 255, 255, 0.356);
            text-shadow: 0 0 5px black;
        }
    }
    
    .nosotros-menu{
        text-align: center;
    
        h2{
            background-color: map-get($colores, primero);
            color: map-get($colores, segundo);
            font-size: 50px;
            text-transform: capitalize;
            padding: 15px;
            margin-top: 20px;
            text-shadow: 0 0 5px black;
        }
    
        .nombres{
            font-size: 40px;
            text-transform: capitalize;
        }
    
        p{
            font-size: 27px;
            padding: 10px;
            margin-top: 30px;
            color: map-get($colores, cuarto);
        }
    
        .imagen-quienes{
            border: 3px solid orange;
            border-radius: 30px;
        }
    }
    
}

/*Catalogo*/
.catalogo{
    .cabecera-catalogo{
        padding: 134px 0 240px 0;
        background-image: url(../img/16.jpg);
        background-position: top;
        background-size: cover;
        margin-top: 30px;
    
        h1{
            color: map-get($colores, primero);
            font-size: 60px;
            text-transform: uppercase;
            background-color: rgba(255, 255, 255, 0.356);
            text-shadow: 0 0 5px black;
        }
    }
    
    .titulo-catalogo{
        text-align: center;
        text-transform: capitalize;
        font-size: 50px;
        background-color: #ffa600b4;
        text-shadow: 0 0 5px black;
        color: map-get($colores, cuarto);
    }
    h3{
        @extend .titulo-catalogo
    }
    h4{
        @extend .titulo-catalogo
    }
    .imagen-catalogo{
        border: 3px solid orange;
        margin-top: 20px;
        border-radius: 30px;
        transition: all 0.3s ease-in-out;
    }
    .imagen-catalogo:hover{
        transform: scale(1.1);
        box-shadow: 3px 3px 10px black;
    }
    .boton-catalogo{
        text-align: center;
    
        a{
            margin-top: 25px;
            color: white;
            background-color: map-get($colores, primero);
            padding-left: 20px;
            padding-right: 20px;
            font-size: 22px;
            @include bordes;
        }
        a:hover{
            background-color: map-get($colores, cuarto);
            color: map-get($colores, primero);
            border: 2px solid orange;
        }
    }
}

/*Galeria*/
.galeria{
    .cabecera-galeria{
        padding: 134px 0 240px 0;
        background-image: url(../img/4.jpg);
        background-position: top;
        background-size: cover;
        margin-top: 30px;
    
        h1{
            color: map-get($colores, primero);
            font-size: 60px;
            text-transform: uppercase;
            background-color: rgba(255, 255, 255, 0.356);
            text-shadow: 0 0 5px black;
        }
    }
    
    .titulo-galeria{
        text-align: center;
        text-transform: capitalize;
        font-size: 50px;
        background-color: #ffa600b4;
        text-shadow: 0 0 5px black;
        color: map-get($colores, cuarto);
    }
    .imagen-galeria{
        border: 3px solid orange;
        margin-top: 20px;
        border-radius: 30px;
        transition: all 0.3s ease-in-out;
    }
    .imagen-galeria:hover{
        transform: scale(1.1);
        box-shadow: 3px 3px 10px black;
    }
}

/*Contacto*/
.informacion{
    .cabecera-contacto{
        padding: 134px 0 240px 0;
        background-image: url(../img/7.jpg);
        background-position: center;
        background-size: cover;
        margin-top: 30px;
    
        h1{
            color: map-get($colores, primero);
            font-size: 60px;
            text-transform: uppercase;
            background-color: rgba(255, 255, 255, 0.356);
            text-shadow: 0 0 5px black;
        }
    }
    
    .contacto{
        .form-group{
            font-size: 25px;
        }
    
        button{
            font-size: 20px;
            margin: 0 15px;
            padding: 10px;
        }
    
        h2{
            text-align: center;
            color: map-get($colores, cuarto);
            text-transform: uppercase;
            font-size: 35px;
            background-color: #ffa600b4;
            padding: 15px;
            margin-bottom: 25px;
            text-shadow: 0 0 5px black;
        }
    }
    
    
    
    .ubicacion{
        text-align: center;
        margin-bottom: 100px;
    
        h2{
            font-size: 40px;
            text-transform: uppercase;
            background-color: #ffa600b4;
            margin-bottom: 25px;
            text-shadow: 0 0 5px black;
            color: map-get($colores, cuarto);
        }
    
        p{
            font-size: 30px;
            padding: 30px;
        }
    }
}

/*Inicio de Footer*/
footer{
    background-color: map-get($colores, quinto);
    text-align: center;
    padding: 20px 0;

    .logo-footer{
        width: 300px;
        margin: 0 30px 0px 0;
    }

    .iconos-footer{
        font-size: 60px;
        color: map-get($colores, tercero);
        margin: 30px 20px;
        letter-spacing: 20px;
        transition: all 0.7s;
    }
    .iconos-footer:hover{
        color: map-get($colores, segundo);
        cursor: pointer;
        transform: translateY(-20px);
        transition: all 0.7s;
    }

    p{
        color: map-get($colores, segundo);
        text-transform: capitalize;
        font-size: 20px;
        margin-bottom: 0;
    }
}
/*fin de Footer*/
